header {
    background-color: black;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    height: 50px;
    width: 50px;    
}

.header-logo {
    width: 100%;
    border-radius: 10px
}

navbar {
    display: flex;
    gap: 25px;
}

navbar div {
    display: flex;
    gap: 25px;
}

navbar .guest, navbar .logged {
    display: none;
}
navbar div a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    letter-spacing: 2px;
}


