h2 {
    text-align: center;
    margin: 10px;
}

table.loan-requests, table.loan-table, table.loan-statistics-table, table .table {
    width: 80%;
    margin: 25px auto;
}

.loan-requests th, .loan-table th, .loan-statistics-table th, table.table {
    border: 1px solid goldenrod;
    padding: 5px;
    text-align: center;
}

tbody td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.td-p-status {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.td-p-status span.dot-color-yellow {
    animation: blink infinite alternate ease-in-out 1.25s;
}

@keyframes blink{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}

.offers-wrapper {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.offer-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    border: 3px solid black;
    border-radius: 10px;
    transition: all ease-in 250ms;
    cursor: pointer;
}

.offer-card:hover {
    scale: 1.2;
}

.offer-card p {
    border-bottom: 1px solid lightgray;
    transition: all ease-in-out 750ms;
    padding: 2px 5px;
}

.offer-card p:hover {
    background-color: lightslategray;
    border-radius: 10px;
    opacity: 0.8;
}

.offer-card button:hover {
    border-color: lightgreen;
    background-color: lightgreen;
    font-weight: bold;
}

.overall-stats {
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dot-status {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
}

.dot-color-orangered {
    background-color: orangered;
}

.dot-color-green {
    background-color: greenyellow;
}

.dot-color-yellow {
    background-color: orange;
}