h2 {
    text-align: center;
    margin: 10px;
}
.loan-requests {
    width: 80%;
    margin: auto;
}

.loan-requests th {
    border: 1px solid goldenrod;
    padding: 5px;
}

.loan-requests tbody td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}